<div class="owl-carousel top-owl-carousel owl-top">

    <div class="top-rank item">
  
      <!-- MONTHLY TOP SPENDER TOP & 1 -->
      [mycred_leaderboard number="1" wrap="" based_on="balance" total="1" timeframe="this-month"]
      <div class="top-cont left">
        <div class="gold-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/gold-coins.gif"/></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src=%avatar% /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
  
      [mycred_leaderboard number="1" offset="1" wrap="" based_on="balance" total="1" timeframe="this-month"]
       <div class="top-cont right">
          <div class="gold-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/gold-coins.gif"/></div>
          <div class="top-cont-avatar top-avatar-%toplevelring%"><img src=%avatar% /></div>
          <div class="top-cont-details">
            <div class="name">%display_name%</div>
            <div class="points">%points% <span>points</span></div>
            <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
          </div>
        </div>
      [/mycred_leaderboard]
  
    </div>
  
  
    <div class="top-rank item">
  
      <!-- MONTHLY TOP SPENDER 2 & 3-->
      [mycred_leaderboard number="1" offset="2" wrap="" based_on="balance" total="1" timeframe="this-month"]
      <div class="top-cont sec-cont left top-2-cont">
        <div class="silver-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/silver-coins.gif" /></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src="%avatar%" /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
  
      [mycred_leaderboard number="1" offset="3" wrap="" based_on="balance" total="1" timeframe="this-month"]
      <div class="top-cont sec-cont right top-3-cont">
          <div class="bronze-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/bronze-coins.gif" /></div>
          <div class="top-cont-avatar top-avatar-%toplevelring%"><img src="%avatar%" /></div>
          <div class="top-cont-details">
            <div class="name">%display_name%</div>
            <div class="points">%points% <span>points</span></div>
            <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
          </div>
      </div>
      [/mycred_leaderboard]
    </div>
  
    <div class="top-rank item">
  
      <!-- LIFETIME TOP SPENDER TOP & 1 -->
      [mycred_leaderboard number="1" wrap=""]
      <div class="top-cont left">
        <div class="gold-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/gold-coins.gif"/></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src=%avatar% /></div>
        <div class="top-cont-details">
            <div class="name">%display_name%</div>
            <div class="points">%points% <span>points</span></div>
            <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
  
      [mycred_leaderboard number="1" offset="1" wrap=""]
      <div class="top-cont right">
        <div class="gold-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/gold-coins.gif"/></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src=%avatar% /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
      
      </div>
  
      <div class="top-rank item">
  
      <!-- LIFETIME TOP SPENDER 2 & 3 -->
      [mycred_leaderboard number="1" offset="2" wrap=""]
      <div class="top-cont sec-cont left top-2-cont">
        <div class="silver-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/silver-coins.gif" /></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src="%avatar%" /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
  
      [mycred_leaderboard number="1" offset="3" wrap=""]
      <div class="top-cont sec-cont right top-3-cont">
        <div class="bronze-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/bronze-coins.gif" /></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src="%avatar%" /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
    </div>
  
    <div class="top-rank item">
  
      <!-- MONTHLY TOP GIVER TOP & 1 -->
      [mycred_leaderboard number="1" wrap="" type="mycred_coins" based_on="balance" total="1" timeframe="this-month"]
      <div class="top-cont left">
        <div class="gold-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/gold-coins.gif"/></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src=%avatar% /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
  
      [mycred_leaderboard number="1" offset="1" type="mycred_coins" wrap="" based_on="balance" total="1" timeframe="this-month"]
       <div class="top-cont right">
          <div class="gold-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/gold-coins.gif"/></div>
          <div class="top-cont-avatar top-avatar-%toplevelring%"><img src=%avatar% /></div>
          <div class="top-cont-details">
            <div class="name">%display_name%</div>
            <div class="points">%points% <span>points</span></div>
            <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
          </div>
        </div>
      [/mycred_leaderboard]
  
    </div>
  
    <div class="top-rank item">
  
      <!-- MONTHLY TOP GIVER 2 & 3-->
      [mycred_leaderboard number="1" offset="2" wrap="" type="mycred_coins" based_on="balance" total="1" timeframe="this-month"]
      <div class="top-cont sec-cont left top-2-cont">
        <div class="silver-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/silver-coins.gif" /></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src="%avatar%" /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
  
      [mycred_leaderboard number="1" offset="3" wrap="" type="mycred_coins" based_on="balance" total="1" timeframe="this-month"]
      <div class="top-cont sec-cont right top-3-cont">
          <div class="bronze-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/bronze-coins.gif" /></div>
          <div class="top-cont-avatar top-avatar-%toplevelring%"><img src="%avatar%" /></div>
          <div class="top-cont-details">
            <div class="name">%display_name%</div>
            <div class="points">%points% <span>points</span></div>
            <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
          </div>
      </div>
      [/mycred_leaderboard]
    </div>
  
    <div class="top-rank item">
  
      <!-- LIFETIME TOP GIVER TOP & 1 -->
      [mycred_leaderboard number="1" wrap="" type="mycred_coins"]
      <div class="top-cont left">
        <div class="gold-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/gold-coins.gif"/></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src=%avatar% /></div>
        <div class="top-cont-details">
            <div class="name">%display_name%</div>
            <div class="points">%points% <span>points</span></div>
            <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
  
      [mycred_leaderboard number="1" offset="1" wrap="" type="mycred_coins"]
      <div class="top-cont right">
        <div class="gold-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/gold-coins.gif"/></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src=%avatar% /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
      
      </div>
  
      <div class="top-rank item">
  
      <!-- LIFETIME TOP GIVER 2 & 3 -->
      [mycred_leaderboard number="1" offset="2" wrap="" type="mycred_coins"]
      <div class="top-cont sec-cont left top-2-cont">
        <div class="silver-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/silver-coins.gif" /></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src="%avatar%" /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
  
      [mycred_leaderboard number="1" offset="3" wrap="" type="mycred_coins"]
      <div class="top-cont sec-cont right top-3-cont">
        <div class="bronze-coins"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/bronze-coins.gif" /></div>
        <div class="top-cont-avatar top-avatar-%toplevelring%"><img src="%avatar%" /></div>
        <div class="top-cont-details">
          <div class="name">%display_name%</div>
          <div class="points">%points% <span>points</span></div>
          <div class="level">%level%</div>
  <div class="user-rank">%badge% %coins%</div>
        </div>
      </div>
      [/mycred_leaderboard]
    </div>
  
  </div> <!-- END OF CAROUSEL -->
  
  <!-- OTHER MONTHLY TOP SPENDER -->
  <div class="owl-carousel owl-rank">
    <div class="item item-first">
      <div class="other-rank">
  
      <!-- OTHER MONTHLY TOP SPENDER 4 to 12 -->  
      [mycred_leaderboard number="9" offset="4" wrap="" based_on="balance" total="1" timeframe="this-month"]
      <div class="rank-row rank-row-%pposition%">
        <div class="row-number glow">%pposition%</div>
        <div class="row-avatar ring-%levelring%"><img src="%avatar%"/></div>
        <div class="row-details">
          <div class="name">%display_name%</div>
          <div class="rank">%level%</div>
          <div class="asl %horoscope%">%age%, %location%</div>%badge% %coins%
        </div>
        <div class="row-points"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/peace-points.png"><div
    class="points">%points%<span>points</span></div></div>
        <div class="clear"></div>
      </div>
      [/mycred_leaderboard]
      </div>
    </div>
    
    <div class="item">
      <div class="other-rank">
        
      <!-- OTHER MONTHLY TOP SPENDER 13 to 21 --> 
      [mycred_leaderboard number="9" offset="13" wrap="" based_on="balance" total="1" timeframe="this-month"]
      <div class="rank-row rank-row-%position%">
          <div class="row-number glow">%pposition%</div>
          <div class="row-avatar ring-%levelring%"><img src="%avatar%"/></div>
          <div class="row-details">
            <div class="name">%display_name%</div>
            <div class="rank">%level%</div>
            <div class="asl %horoscope%">%age%, %location%</div>%badge% %coins%
          </div>
          <div class="row-points"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/peace-points.png"><div
    class="points">%points%<span>points</span></div></div>
          <div class="clear"></div>
      </div>
      [/mycred_leaderboard]
      </div>
    </div>
  
  
    <div class="item">
      <div class="other-rank">
  
      <!-- OTHER LIFETIME TOP SPENDER 4 to 12 --> 
      [mycred_leaderboard number="9" offset="4" wrap=""]
      <div class="rank-row rank-row-%position%">
        <div class="row-number glow">%pposition%</div>
        <div class="row-avatar ring-%levelring%"><img src="%avatar%"/></div>
        <div class="row-details">
          <div class="name">%display_name%</div>
          <div class="rank">%level%</div>
          <div class="asl %horoscope%">%age%, %location%</div>%badge% %coins%
        </div>
        <div class="row-points"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/peace-points.png"><div
  class="points">%points%<span>points</span></div></div>
        <div class="clear"></div>
      </div>
      [/mycred_leaderboard]
      </div>
    </div>
    
    <div class="item">
      <div class="other-rank">
  
      <!-- OTHER LIFETIME TOP SPENDER 13 to 21 -->   
      [mycred_leaderboard number="9" offset="13" wrap=""]
      <div class="rank-row rank-row-%position%">
        <div class="row-number glow">%pposition%</div>
        <div class="row-avatar ring-%levelring%"><img src="%avatar%"/></div>
        <div class="row-details">
          <div class="name">%display_name%</div>
          <div class="rank">%level%</div>
          <div class="asl %horoscope%">%age%, %location%</div>%badge% %coins%
        </div>
        <div class="row-points"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/peace-points.png"><div
    class="points">%points%<span>points</span></div></div>
        <div class="clear"></div>
      </div>
      [/mycred_leaderboard]
      </div>
    </div>
  
  <div class="item item-first">
      <div class="other-rank">
  
      <!-- OTHER MONTHLY TOP GIVER 4 to 12 -->  
      [mycred_leaderboard number="9" offset="4" wrap="" type="mycred_coins" based_on="balance" total="1" timeframe="this-month"]
      <div class="rank-row rank-row-%pposition%">
        <div class="row-number glow">%pposition%</div>
        <div class="row-avatar ring-%levelring%"><img src="%avatar%"/></div>
        <div class="row-details">
          <div class="name">%display_name%</div>
          <div class="rank">%level%</div>
          <div class="asl %horoscope%">%age%, %location%</div>%badge% %coins%
        </div>
        <div class="row-points"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/peace-points.png"><div
    class="points">%points%<span>points</span></div></div>
        <div class="clear"></div>
      </div>
      [/mycred_leaderboard]
      </div>
    </div>
    
    <div class="item">
      <div class="other-rank">
        
      <!-- OTHER MONTHLY TOP GIVER 13 to 21 --> 
      [mycred_leaderboard number="9" offset="13" wrap="" type="mycred_coins" based_on="balance" total="1" timeframe="this-month"]
      <div class="rank-row rank-row-%position%">
          <div class="row-number glow">%pposition%</div>
          <div class="row-avatar ring-%levelring%"><img src="%avatar%"/></div>
          <div class="row-details">
            <div class="name">%display_name%</div>
            <div class="rank">%level%</div>
            <div class="asl %horoscope%">%age%, %location%</div>%badge% %coins%
          </div>
          <div class="row-points"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/peace-points.png"><div
    class="points">%points%<span>points</span></div></div>
          <div class="clear"></div>
      </div>
      [/mycred_leaderboard]
      </div>
    </div>
  
  
    <div class="item">
      <div class="other-rank">
  
      <!-- OTHER LIFETIME TOP SPENDER 4 to 12 --> 
      [mycred_leaderboard number="9" offset="4" wrap="" type="mycred_coins"]
      <div class="rank-row rank-row-%position%">
        <div class="row-number glow">%pposition%</div>
        <div class="row-avatar ring-%levelring%"><img src="%avatar%"/></div>
        <div class="row-details">
          <div class="name">%display_name%</div>
          <div class="rank">%level%</div>
          <div class="asl %horoscope%">%age%, %location%</div>%badge% %coins%
        </div>
        <div class="row-points"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/peace-points.png"><div
  class="points">%points%<span>points</span></div></div>
        <div class="clear"></div>
      </div>
      [/mycred_leaderboard]
      </div>
    </div>
    
    <div class="item">
      <div class="other-rank">
  
      <!-- OTHER LIFETIME TOP SPENDER 13 to 21 -->   
      [mycred_leaderboard number="9" offset="13" wrap="" type="mycred_coins"]
      <div class="rank-row rank-row-%position%">
        <div class="row-number glow">%pposition%</div>
        <div class="row-avatar ring-%levelring%"><img src="%avatar%"/></div>
        <div class="row-details">
          <div class="name">%display_name%</div>
          <div class="rank">%level%</div>
          <div class="asl %horoscope%">%age%, %location%</div>%badge% %coins%
        </div>
        <div class="row-points"><img src="http://peaceclub.local/wp-content/themes/twentytwenty-child/img/peace-points.png"><div
    class="points">%points%<span>points</span></div></div>
        <div class="clear"></div>
      </div>
      [/mycred_leaderboard]
      </div>
    </div>
  </div>
  