[mycred_leaderboard number="8" wrap=""]
<div class="rank-giver-row">
<div class="avatar"><img src="%avatar%"/></div>
<div class="details">
<div class="name">%display_name%</div>
<div class="points">%points%<span>points</span></div>
<div class="clear"></div>
</div>
<div class="user-rank">
<div class="asl %horoscope%">%age%, %location%</div>%badge% %coins%<div class="clear"></div>
</div>
</div>
[/mycred_leaderboard]