/*
Theme Name: Peace Club Theme
Description: Peace Club Theme
Author: Connecty
Author URL: https://connecty.my
Template: twentytwenty
Version: 1.0.0
Text Domain: twentytwenty-child
*/
@font-face {
  font-family: "Silkscreen";
  src: url("./fonts/Silkscreen.eot");
  src: url("./fonts/Silkscreen.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Silkscreen.woff2") format("woff2"),
    url("./fonts/Silkscreen.woff") format("woff"),
    url("./fonts/Silkscreen.ttf") format("truetype"),
    url("./fonts/Silkscreen.svg#Silkscreen") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kollektif";
  src: url("./fonts/Kollektif-Bold.eot");
  src: url("./fonts/Kollektif-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Kollektif-Bold.woff2") format("woff2"),
    url("./fonts/Kollektif-Bold.woff") format("woff"),
    url("./fonts/Kollektif-Bold.ttf") format("truetype"),
    url("./fonts/Kollektif-Bold.svg#Kollektif-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  color: #fff !important;
}

.glow {
  color: #6eceff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #61c8fc, 0 0 20px #53c6ff, 0 0 30px #53c6ff,
      0 0 40px #53c6ff, 0 0 50px #53c6ff, 0 0 60px #53c6ff, 0 0 70px #53c6ff;
  }

  to {
    text-shadow: 0 0 20px #6eceff, 0 0 30px #53c6ff, 0 0 40px #53c6ff,
      0 0 50px #53c6ff, 0 0 60px #53c6ff, 0 0 70px #53c6ff, 0 0 80px #53c6ff;
  }
}
.large-display .owl-carousel .owl-item img {
  width: auto;
}

/*** LEADERBOARD ***/
ol.myCRED-leaderboard {
  list-style: none;
}

/*** VERTICAL ***/
.page-template-page-vertical #site-content,
.page-template-page-vertical-single #site-content,
.page-template-page-vertical-single-receiver #site-content {
  width: 1080px;
  height: 1920px;
  background: url("./img/bg.png") no-repeat;
  position: absolute;
  z-index: -1;
}

.page-template-page-vertical-peaceclub {
  width: 1080px;
  height: 1920px;
  background: url("./img/peace-bg.png") no-repeat !important;
  position: absolute;
  z-index: -1;
}

.header .owl-carousel {
  margin-top: 30px;
}
.header .owl-carousel .owl-item img {
  width: 658px;
  height: 137px;
}
.header .owl-carousel .owl-dots {
  display: none !important;
}

.top-rank {
  padding-left: 25px;
}
.top-rank .top-cont .gold-coins {
  position: absolute;
  margin: 98px 0 0 364px;
}
.top-rank .top-cont .silver-coins {
  position: absolute;
  margin: 98px 0 0 400px;
}
.top-rank .top-cont .bronze-coins {
  position: absolute;
  margin: 100px 0 0 430px;
}
.top-rank .top-cont.left {
  float: left;
  width: 573px;
  height: 371px;
  background: url("./img/top-ring.png") 0 -15px no-repeat;
  position: absolute;
}
.top-rank .top-2-cont {
  background: url("./img/top-2-ring.png") 0 -15px no-repeat !important;
}
.top-rank .top-3-cont {
  background: url("./img/top-3-ring.png") 0 -15px no-repeat !important;
}
.top-rank .top-cont.left .top-cont-avatar {
  margin: 88px 0 0 20px;
  position: absolute;
}
.top-rank .top-cont.right .top-cont-avatar {
  margin: 88px 0 0 25px;
  position: absolute;
}

/*** TOP CROWN ***/
.top-avatar-100 {
  width: 225px;
  height: 210px;
  background: url("./img/top-avatar-ring.png") -1016px -15px no-repeat;
}
.top-avatar-99 {
  width: 235px;
  height: 210px;
  background: url("./img/top-avatar-ring.png") -733px -15px no-repeat;
}
.top-avatar-9 {
  width: 235px;
  height: 210px;
  background: url("./img/top-avatar-ring.png") -733px -15px no-repeat;
}

.top-avatar-100 img {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 53px;
  margin-left: 38px;
}

.top-avatar-99 img {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 53px;
  margin-left: 54px;
}
.top-cont .top-avatar-99 {
  margin: 80px 0 0 15px !important;
}
.top-cont .top-avatar-100 {
  margin: 80px 0 0 35px !important;
}
.top-cont .level {
  font-family: "Kollektif";
  font-size: 20px;
  margin-top: 106px;
  margin-left: 311px;
  width: 40px;
  height: 24px;
  text-align: center;
  font-weight: bold;
  position: absolute;
}
.top-cont-details {
  float: right;
  width: 255px;
  height: 120px;
  margin-top: 150px;
  margin-right: 90px;
  padding: 10px;
}
.top-cont-details .name {
  font-family: "Kollektif";
  font-size: 33px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 41px;
}
.top-cont-details .points {
  font-family: "Silkscreen";
  font-size: 25px;
  width: 250px;
}
.top-cont-details .level {
  font-family: "Kollektif";
  font-size: 20px;
  margin-top: 30px;
  margin-left: 3px;
  width: 40px;
  height: 24px;
  text-align: center;
  font-weight: bold;
  float: left;
}
.top-cont-details .user-rank {
  float: left;
  margin-top: 20px;
  width: 330px;
  position: absolute;
  z-index: 9999;
}

.top-rank .top-cont.right {
  float: right;
  width: 588px;
  height: 411px;
  background: url("./img/top-1-ring.png") 0 -15px no-repeat;
}

.other-rank {
  width: 100%;
  margin-top: 320px;
}
.other-rank .rank-row {
  padding: 0 80px;
}
.other-rank .rank-row .row-number {
  font-family: "Kollektif";
  font-size: 30px;
  line-height: 145px;
  width: 70px;
  float: left;
  text-align: center;
  font-weight: bold;
}
.other-rank .rank-row .row-avatar {
  width: 166px;
  height: 145px;
  float: left;
}
.other-rank .rank-row .row-avatar.ring-2,
.other-rank .rank-row .row-avatar.ring-1 {
  width: 150px;
  margin-right: 16px;
}
.other-rank .rank-row .row-avatar img {
  width: 82px;
  height: 82px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 33px;
  margin-left: 40px;
}
.other-rank .rank-row .ring-99 img,
.other-rank .rank-row .ring-100 img {
  margin-top: 50px;
}
.other-rank .rank-row .ring-4 img {
  width: 80px;
  height: 80px;
}
.other-rank .rank-row .ring-3 img {
  width: 78px;
  height: 78px;
  margin-top: 35px;
  margin-left: 43px;
}
.other-rank .rank-row .ring-2 img {
  width: 78px;
  height: 78px;
  margin-top: 35px;
  margin-left: 42px;
}
.other-rank .rank-row .ring-1 img {
  width: 78px;
  height: 78px;
  margin-top: 32px;
  margin-left: 42px;
}
.other-rank .rank-row .ring-0 img {
  width: 78px;
  height: 78px;
}
.other-rank .rank-row .ring-100 {
  background: url("./img/ring.png") -1567px -2px no-repeat;
  height: 166px;
}
.other-rank .rank-row .ring-99 {
  background: url("./img/ring.png") -1384px -1px no-repeat;
  height: 166px;
}
.other-rank .rank-row .ring-9 {
  background: url("./img/ring.png") -1743px -19px no-repeat;
}
.other-rank .rank-row .ring-8 {
  background: url("./img/ring.png") -1934px -19px no-repeat;
}
.other-rank .rank-row .ring-7 {
  background: url("./img/ring.png") -1200px -19px no-repeat;
}
.other-rank .rank-row .ring-6 {
  background: url("./img/ring.png") -1026px -20px no-repeat;
}
.other-rank .rank-row .ring-5 {
  background: url("./img/ring.png") -847px -17px no-repeat;
}
.other-rank .rank-row .ring-4 {
  background: url("./img/ring.png") -674px -18px no-repeat;
}
.other-rank .rank-row .ring-3 {
  background: url("./img/ring.png") -239px -18px no-repeat;
}
.other-rank .rank-row .ring-2 {
  background: url("./img/ring.png") -106px -18px no-repeat;
}
.other-rank .rank-row .ring-1 {
  background: url("./img/ring.png") 28px -18px no-repeat;
}
.other-rank .rank-row .ring-0 {
  background: url("./img/ring.png") -2118px -21px no-repeat;
}
.other-rank .rank-row .row-details {
  width: 390px;
  float: left;
  padding: 38px 0 0;
}
.name {
  font-family: "Kollektif";
  font-size: 30px;
  font-weight: bold;
}
.rank {
  background: #ffcc00;
  border-radius: 30px;
  font-family: "Kollektif";
  font-size: 16px;
  width: 45px;
  height: 25px;
  line-height: 25px;
  color: #000;
  text-align: center;
  float: left;
  margin-top: 6px;
  font-weight: bold;
  margin-right: 5px;
}
.asl {
  font-family: "Kollektif";
  font-size: 14px;
  line-height: 28px;
  color: #000;
  padding-left: 30px;
  float: left;
  margin-top: 5px;  
  margin-right: 5px;
  width: 92px;
  height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}
.aries {
  background: url("./img/aries.png") no-repeat;
}
.gemini {
  background: url("./img/gemini.png") no-repeat;
}
.taurus {
  background: url("./img/taurus.png") no-repeat;
}
.cancer {
  background: url("./img/cancer.png") no-repeat;
}
.leo {
  background: url("./img/leo.png") no-repeat;
}
.libra {
  background: url("./img/libra.png") no-repeat;
}
.scorpio {
  background: url("./img/scorpio.png") no-repeat;
}
.virgo {
  background: url("./img/virgo.png") no-repeat;
}
.pisces {
  background: url("./img/pisces.png") no-repeat;
}
.aquarius {
  background: url("./img/aquarius.png") no-repeat;
}
.capricorn {
  background: url("./img/capricorn.png") no-repeat;
}
.sagittarius {
  background: url("./img/sagittarius.png") no-repeat;
}
.badge {
  width: 120px;
  height: 39px;
  line-height: 40px;
  padding-left: 41px;
  float: left;
  font-family: "Kollektif";
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5px;
}
.badge.red {
  background: url("./img/top-badge-red.gif") no-repeat;
}
.badge.gold {
  background: url("./img/badge-gold.gif") no-repeat;
  color: #000;
}
.badge.silver {
  background: url("./img/badge-silver.gif") no-repeat;
  color: #000;
}
.badge.bronze {
  background: url("./img/badge-bronze.gif") no-repeat;
  color: #000;
}
.other-rank .rank-row .row-points {
  width: 294px;
  float: left;
  font-family: "Silkscreen";
  font-size: 24px;
  padding: 50px 0;
}
.owl-carousel p,
.owl-item p,
.other-rank .rank-row .row-points p,
.other-rank .rank-row + p,
.asl + p {
  display: none;
}
.other-rank .rank-row .row-points .points {
  display: block;
  width: 300px;
  line-height: 45px;
  text-align: right;
}
.other-rank .rank-row .row-points img {
  float: left;
  margin-right: 20px;
  width: 33px !important;
}
.other-rank .rank-row .row-points .points span {
  display: block;
  width: 100px;
  float: right;
  margin-right: 10px;
}
.coins {
  width: 90px;
  height: 27px;
  line-height: 27px;
  margin-top: 6px;
  float: left;
}
.coins span {
  font-family: "Kollektif";
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  text-align: right;
  display: block;
  padding-right: 12px;
}
.coins3k {
  background: url("./img/3k-coins.png") -30px -17px no-repeat;
}
.coins5k {
  background: url("./img/5k-coins.png") -30px -17px no-repeat;
}
.coins9k {
  background: url("./img/9k-coins.png") -30px -17px no-repeat;
}

/*** HORIZONTAL ***/
.horizontal-screen {
  width: 4400px;
  height: 480px;
  background: url("./img/horizontal-bg.jpg");
  position: absolute;
  z-index: -1;
}
.horizontal-rank p {
  display: none;
}
.h-title {
  width: 459px;
  height: 355px;
  float: right;
  margin: 50px 70px 0 0;
}
.horizontal-rank {
  width: 3270px;
  margin-left: 580px;
}
.cont-rank {
  width: 320px;
  height: 480px;
  text-align: center;
  float: left;
}
.cont-details {
  margin-top: 30px;
}
.cont-details .name {
  font-family: "Kollektif";
  font-size: 30px;
  font-weight: bold;
}
.horizontal-cont-avatar {
  margin: -18px auto 0 !important;
  width: 345px;
  height: 345px;
}
.horizontal-cont-avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  position: absolute;
}
.htop-avatar-100 {
  background: url(./img/h-avatar-ring.png) -4542px -25px no-repeat;
}
.htop-avatar-99 {
  width: 350px;
  background: url("./img/h-avatar-ring.png") -4166px -25px no-repeat;
}
.htop-avatar-9 {
  background: url("./img/h-avatar-ring.png") -3786px -26px no-repeat;
}
.htop-avatar-8 {
  background: url("./img/h-avatar-ring.png") -3405px -26px no-repeat;
  width: 350px;
}
.htop-avatar-7 {
  background: url("./img/h-avatar-ring.png") -3055px -26px no-repeat;
}
.htop-avatar-6 {
  background: url("./img/h-avatar-ring.png") -2700px -26px no-repeat;
}
.htop-avatar-5 {
  background: url("./img/h-avatar-ring.png") -2360px -26px no-repeat;
}
.htop-avatar-4 {
  background: url("./img/h-avatar-ring.png") -1988px -22px no-repeat;
}
.htop-avatar-3 {
  background: url("./img/h-avatar-ring.png") -947px -22px no-repeat;
}
.htop-avatar-2 {
  background: url("./img/h-avatar-ring.png") -624px -22px no-repeat;
}
.htop-avatar-1 {
  background: url("./img/h-avatar-ring.png") 27px -9px no-repeat;
}
.htop-avatar-0 {
  background: url("./img/h-avatar-ring.png") -298px -9px no-repeat;
}
.htop-avatar-100 img {
  margin: 88px 67px 0;
}
.htop-avatar-99 img {
  margin: 88px 68px 0;
}
.htop-avatar-9 img {
  margin: 88px 67px 0;
}
.htop-avatar-8 img {
  margin: 88px 70px 0;
}
.htop-avatar-7 img {
  margin: 95px 77px 0;
  width: 185px !important;
  height: 185px;
}
.htop-avatar-6 img {
  margin: 94px 76px 0;
  width: 185px !important;
  height: 185px;
}
.htop-avatar-5 img {
  margin: 91px 76px 0;
  width: 185px !important;
  height: 185px;
}
.htop-avatar-4 img {
  margin: 82px 66px 0;
  width: 210px !important;
  height: 210px;
}
.htop-avatar-3 img {
  margin: 87px 68px 0;
  width: 200px !important;
  height: 200px;
}
.htop-avatar-2 img {
  margin: 87px 68px 0;
  width: 200px !important;
  height: 200px;
}
.htop-avatar-1 img {
  margin: 87px 68px 0;
  width: 200px !important;
  height: 200px;
}
.htop-avatar-0 img {
  margin: 87px 68px 0;
  width: 200px !important;
  height: 200px;
}
.cont-rank.cont-rank-2 {
  margin-left: 10px;
}
.cont-rank.cont-rank-1 {
  margin-left: 34px;
}
/*.cont-rank.cont-rank-top.top-0,
.cont-rank.cont-rank-1.top-5 {
  margin-left: 10px;
}*/

.cont-details .level {
  font-family: "Kollektif";
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 50px;
  margin: 0 auto 8px;
  background: #ffd200;
  border-radius: 30px;
  font-weight: bold;
}
.cont-details .points {
  font-family: "Silkscreen";
  font-size: 24px;
}
.top-owl-carousel {
  position: absolute;
  z-index: 999999;
}

/*** LARGE DISPLAY ***/
.large-display {
  background: #000 url("./img/large-display-bg.png");
  width: 1920px;
  height: 480px;
}
.cont-rank.top-0 {
  width: 400px;
  margin-left: 10px;
}
.cont-rank.top-1 {
  margin-left: 5px;
}
.cont-rank.top-2 {
  margin-left: 57px;
}
.cont-rank.top-3 {
  margin-left: 57px;
}
.cont-rank.top-4 {
  margin-left: 57px;
}
.cont-rank.top-5 {
  margin-left: 36px;
}
.cont-rank.top-6 {
  margin-left: 56px;
}
.cont-rank.top-7 {
  margin-left: 56px;
}
.cont-rank.top-8 {
  margin-left: 60px;
}
.cont-rank.top-9 {
  margin-left: 56px;
}
/*.cont-rank.cont-rank-1.top-7 {
  margin-left: 76px;
  width: 300px;
}
.cont-rank.cont-rank-1.top-8 {
  margin-left: 57px;
  width: 300px;
}
.cont-rank.cont-rank-1.top-9 {
  margin-left: 57px;
  width: 300px;
}*/

.position-icon {
  background: url("./img/rank-circles.png");
  width: 98px;
  height: 98px;
  margin-top: 133px;
  margin-left: -22px;
  position: absolute;
  z-index: 999999;
}
.icon-0 {
  background-position: -35px -37px;
  margin-left: -45px;
  margin-top: 47px;
  width: 175px;
  height: 160px;
}
.icon-1 {
  background-position: -208px -37px;
  margin-left: -58px;
  margin-top: 47px;
  width: 140px;
  height: 169px;
}
.icon-2 {
  background-position: -341px -37px;
  margin-left: -58px;
  margin-top: 47px;
  width: 140px;
  height: 160px;
}
.icon-3 {
  background-position: -466px -37px;
  margin-left: -58px;
  margin-top: 47px;
  width: 140px;
  height: 160px;
}
.icon-4 {
  background-position: -593px -37px;
  margin-left: -58px;
  margin-top: 47px;
  width: 133px;
  height: 160px;
}
.icon-5 {
  background-position: -692px -37px;
  margin-left: -58px;
  margin-top: 47px;
  width: 133px;
  height: 160px;
}
.icon-6 {
  background-position: -814px -37px;
  margin-left: -48px;
  margin-top: 47px;
  width: 128px;
  height: 160px;
}
.icon-7 {
  background-position: -922px -37px;
  margin-left: -48px;
  margin-top: 47px;
  width: 128px;
  height: 160px;
}
.icon-8 {
  background-position: -1033px -37px;
  margin-left: -48px;
  margin-top: 47px;
  width: 128px;
  height: 160px;
}
.icon-9 {
  background-position: -1145px -37px;
  margin-left: -48px;
  margin-top: 47px;
  width: 128px;
  height: 160px;
}

/*** LIFETIME TOP GIVER ***/
.lifetime-top-giver,
.page-id-400 #site-content {
  width: 1080px;
  height: 1920px;
  background: url("./img/lifetime-bg.png");
}
.top-rank-giver {
  margin-top: 20px;
}
.rank-giver-row {
  width: 100%;
}
.rank-giver-row .avatar {
  margin-left: 230px;
  float: left;
}
.rank-giver-row .avatar img,
.top-cont-avatar img {
  width: 168px;
  height: 168px;
  object-fit: cover;
  border-radius: 50%;
}
.rank-giver-row .details {
  float: left;
  width: 50%;
  margin-top: 80px;
}
.rank-giver-row .details .name {
  font-family: "Kollektif";
  font-size: 33px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  float: left;
  line-height: 38px;
}
.rank-giver-row .details .points {
  width: 260px;
  float: left;
  font-family: "Silkscreen";
  font-size: 25px;
  margin-top: 10px;
}
.rank-giver-row .details .points span {
  display: block;
  width: 100px;
  float: right;
  margin-right: 10px;
}
.rank-giver-row .user-rank {
  display: block;
  float: left;
  margin: 30px 0 0 0;
  width: 50rem;
}
.rank-giver-row .user-rank .level {
  font-family: "Kollektif";
  font-size: 17px;
  line-height: 25px;
  color: #000;
  width: 50px;
  background: #ffd200;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
  float: left;
  margin-top: 6px;
  margin-right: 10px;
}
.top-rank-giver p,
.top-rank-giver .user-rank p {
  display: none !important;
}
.top-cont-avatar {
  width: 220px;
  height: 210px;
}
.top-avatar-0 {
  background: url("./img/top-avatar-ring.png") -2279px -22px no-repeat;
  margin-right: 21px;
}
.top-avatar-1 {
  background: url("./img/top-avatar-ring.png") -2760px -22px no-repeat;
  margin-right: 21px;
}
.top-avatar-2 {
  background: url("./img/top-avatar-ring.png") -2512px -22px no-repeat;
  margin-right: 21px;
}
.top-avatar-3 {
  background: url("./img/top-avatar-ring.png") -2046px -22px no-repeat;
  margin-right: 21px;
}
.top-avatar-4 {
  background: url("./img/top-avatar-ring.png") -1815px -22px no-repeat;
  margin-right: 21px;
}
.top-avatar-5 {
  background: url("./img/top-avatar-ring.png") 8px -22px no-repeat;
  margin-right: 21px;
}
.top-avatar-6 {
  background: url("./img/top-avatar-ring.png") -234px -22px no-repeat;
  margin-right: 21px;
}
.top-avatar-7 {
  background: url("./img/top-avatar-ring.png") -478px -22px no-repeat;
  margin-right: 21px;
}
.top-avatar-8 {
  background: url("./img/top-avatar-ring.png") -1270px -22px no-repeat;
  width: 240px;
}
.top-avatar-9 {
  background: url("./img/top-avatar-ring.png") -1560px -22px no-repeat;
  width: 240px;
}
.avatar.top-cont-avatar.top-avatar-99 {
  background: url("./img/top-avatar-ring.png") -733px -15px no-repeat;
  width: 240px;
}
.avatar.top-cont-avatar.top-avatar-100 {
  background: url("./img/top-avatar-ring.png") -999px -15px no-repeat;
  width: 240px;
}
.avatar.top-cont-avatar img {
  width: 133px;
  height: 133px;
  margin-top: 37px;
  margin-left: 43px;
}
.avatar.top-cont-avatar.top-avatar-100 img {
  width: 115px !important;
  height: 115px !important;
  margin-top: 55px !important;
  margin-left: 57px !important;
}
.avatar.top-cont-avatar.top-avatar-99 img {
  width: 115px !important;
  height: 115px !important;
  margin-top: 55px !important;
  margin-left: 57px !important;
}
.top-avatar-9 img {
  width: 115px !important;
  height: 115px !important;
  margin-top: 48px !important;
  margin-left: 53px !important;
}
.top-avatar-8 img {
  width: 115px !important;
  height: 115px !important;
  margin-top: 47px !important;
  margin-left: 60px !important;
}
.top-avatar-7 img,
.top-avatar-6 img,
.top-avatar-5 img {
  width: 112px !important;
  height: 112px !important;
  margin-top: 47px !important;
  margin-left: 53px !important;
}
.top-avatar-4 img {
  width: 120px !important;
  height: 120px !important;
  margin-top: 46px !important;
  margin-left: 50px !important;
}
.top-avatar-3 img,
.top-avatar-2 img,
.top-avatar-1 img,
.top-avatar-0 img {
  width: 134px !important;
  height: 134px !important;
  margin-top: 37px !important;
  margin-left: 43px !important;
}

/*** VERTICAL SCREEN - SINGLE ***/
.header-title {
  float: left;
}
.header {
  margin: 30px auto 0;
  width: 980px;
}
.header .logo-left {
  margin: 10px 0 0 0;
  float: left;
}
.header .logo-right {
  float: left;
  position: relative;
  right: unset;
  top: unset;
  margin: 10px 0 0 0;
}

/*** DISPLAY ***/
.page-template-page-display #site-content {
  color: #000;
}

iframe {
  display: block;
  max-width: 100%;
  height: 1920px !important;
  border: none !important;
}

/*** SOCIAL PROOF ***/
.mpa-alert {
  width: 356px !important;
  height: 143px !important;
  background: url("./img/mpa-bg.png") !important;
  box-shadow: none !important;
}
.mpa-avatar {
  width: 55px;
  margin: 40px 0 0 55px;
}
.mpa-avatar img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}
.mpa-title {
  font-size: 17px;
  font-family: "Kollektif";
  font-weight: bold;
  color: #000;
}
.mpa-right {
  width: 175px;
  margin-top: 50px !important;
}
.mpa-description {
  font-size: 15px;
  font-family: "Kollektif";
  color: #000 !important;
}

/*** SLIDE IN UP ***/
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.clear {
  clear: both;
}
